<main>
  <section id="schedule" class="bg-dark">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 text-center logo-container animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <h1>Norcon</h1>
            <h2>Chico</h2>
            <h3>2019</h3>
            <%= image_tag("logo.png", height: '256') %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <h2 class="title animation" data-animation="fadeInUp" data-animation-delay="0.2s">Norcon 2019 Schedule</h2>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">
            Below, you'll find all the talks happening at Idea Fab Labs on April 13, 2019. There's a lot of great stuff here, so start making your plans now!
          </p>
          <table class="nc-schedule animation" data-animation="fadeInUp" data-animation-delay="0.4s">
            <tr>
              <td>
                <div class="schedule-time">
                  <strong>10:40AM</strong>
                  <small>-11:20AM</small>
                </div>
              </td>
              <td>
                <div class="schedule-details">
                  <a class="schedule-title" href="#">Cats, The Musical! Algorithmic Song Meow-ification</a>
                  <div class="track-circle"></div>
                  <h4 class="schedule-speaker">Beth Haubert</h4>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="schedule-time">
                  <strong>10:40AM</strong>
                  <small>-11:20AM</small>
                </div>
              </td>
              <td>
                <div class="schedule-details">
                  <a class="schedule-title" href="#">Cats, The Musical! Algorithmic Song Meow-ification</a>
                  <div class="track-circle"></div>
                  <h4 class="schedule-speaker">Beth Haubert</h4>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="schedule-time">
                  <strong>12:10PM</strong>
                  <small>-1:10PM</small>
                </div>
              </td>
              <td>
                <div class="schedule-details">
                  <div class="schedule-special-container">
                    <span class="special-label">Lunch</span>
                    <div class="fa-track-circle">
                      <i class="fas fa-utensils fa-fw"></i>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>