<main>
  <section id="speakers" class="bg-dark">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 text-center logo-container animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <h1>Norcon</h1>
            <h2>Chico</h2>
            <h3>2019</h3>
            <%= image_tag("logo.png", height: '256') %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <h2 class="title animation" data-animation="fadeInUp" data-animation-delay="0.2s">2019 Speakers</h2>
          <div class="speaker-signup animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <p>To become a speaker</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0-FFzRWvolozsN-uHE1NB1LLsbI936u9dxtFQ-qIYUt2-cQ/viewform" class="btn btn-warning">SIGN UP</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>