<main>
  <section id="speakers" class="bg-dark">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 text-center logo-container animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <h1><%= image_tag("logo-fancy.png", height: '50') %></h1>
            <h2>Chico</h2>
            <h3>April 25, 2020</h3>
            <%= image_tag("logo.png", height: '192') %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <h2 class="title">2018 Speakers</h2>
          <div class="speaker">
            <div class="info">
              <h2 id="jeff_toth">Jeff Toth</h2>
              <em>Improvised Physical Security Tools</em>
              <p>
                Ever start unpacking your kit on a physical security assessment and then you realize you left your under door tool at home? This talk will teach you how to head into the hardware store and make whatever tools you need. I'll demonstrate live on stage how to build several physical security tools on the fly!
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2 id="trevor_hartman">Trevor Hartman</h2>
              <em>Certificate Cataloging for Target Footprinting</em>
              <p>
                The purpose of this project was twofold, to build parallelized code to quickly scan the vast IP ranges of the Internet utilizing a stack of Raspberry PIs, and secondly to catalog those IPs with useful information contained within SSL certificates for data mining and foot-printing purposes.  The aim was to garner SSL information and cull it to reveal date like hidden Origin IPs, active servers with no DNS records but identifiable SSL subject or subject alternative names, and to reveal unadvertised vendor relationships.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Will Caput</h2>
              <em>Cash in the Isles: How Gift Cards are Easily Hacked</em>
              <p>
                It is commonly thought that gift cards must be activated to have any monetary value. Often displayed on countertops and lining grocery store aisles, seemingly worthless unactivated gift cards are free for anyone to grab a handful. However, weaker security features than the average credit card makes these gift cards nearly as valuable as cash. Mass produced, their numbers follow a predictable pattern and have limited built-in security, such as chip and pin, to prevent fraud.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>CK76</h2>
              <em>ipv6wtfbbq</em>
              <p>
                Do you have ipv6 enabled on your network? Are you actively managing it like you would ipv4? This talk focuses on ipv6 attack tools and how hackers are using them to MITM your clients.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Zach Minneker</h2>
              <em>National Cyber Security Challenge</em>
              <p>
                Every semester Chico State Computer Science students participate the National Cyber League security challenge, a jeopardy style CTF. For the past three semesters, a Chico State team has placed in the top ten out of over 250 teams nationwide. Members of the Chico State NCL team will demonstrate tools and techniques for reverse engineering using an example from the NCL, and show how exposure to new challenges can lead team members to develop new skills.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Sean Worthington</h2>
              <em>Beyond Bitcoin</em>
              <p>
                Sean Worthington is the author of Beyond Bitcoin: The Future of Digital Currency. He serves as the President of the CloudCoin Consortium and is the inventor of a new privacy technology called the RAIDA (Redundant Array of Independent Detection Agents). Sean is a candidate for a Ph.D. Computer Information Systems and works as a Tenured Computer Science Instructor at Butte College California.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Stephen Phillip</h2>
              <em>Hacking Human Perception - The Next Wave of Virtual Reality</em>
              <p>
                There are a lot of "realities" being talked about these days, like virtual reality, augmented reality, and mixed reality. At risk of sounding like an overly intellectual philosopher, it raises the question of "What is reality?" Reality is what you perceive to be real, and we all have the privilege of living during a time where we can witness the progression of technologies that ultimately change what we perceive. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
