<main>
  <section id="speakers" class="bg-dark">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 text-center logo-container animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <h1>Norcon</h1>
            <h2>Chico</h2>
            <h3>2019</h3>
            <%= image_tag("logo.png", height: '256') %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <h2 class="title">2016 Speakers</h2>
          <div class="speaker">
            <div class="info">
              <h2>Ian Trump</h2>
              <em>Mitigating Cybercrime Through Meaningful Measurement Methodologies</em>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Machinst</h2>
              <em>3D printing crash course</em>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Monika Morrow & Cindee Tran</h2>
              <em>Making Educated Guesses on Password Storage</em>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>EvilMoFo</h2>
              <em>Downfall and the corporate takover of the hacker community.</em>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Dani Dirks</h2>
              <em>Anyone Can Learn To Code. Here’s What Will Make You A Great Programmer.</em>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Monika Morrow & Scott Simmons</h2>
              <em>A Peek Behind the Curtain, How Pentesters See</em>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Will Caput</h2>
              <em>Hacking Gift cards. How insecure gift cards can be discovered and stolen to get you free food and merchandise.</em>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Billy Rios</h2>
              <em>Medical Device Vulnerability Research: The Good, The Bad, The OMG that's Ugly</em>
              <p>
                This talk explores the adventures of real life medical device research efforts including: acquiring devices, the technical aspects of medical device research, exploitation strategies, tips for working with DHS/FDA, and of course war stories 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
