<main>
  <section id="speakers" class="bg-dark">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 text-center logo-container animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <h1>Norcon</h1>
            <h2>Chico</h2>
            <h3>2019</h3>
            <%= image_tag("logo.png", height: '192') %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <h2 class="title">2017 Speakers</h2>
          <div class="speaker">
            <div class="info">
              <h2>Sean Worthington</h2>
              <em>Hacking Monetary Systems</em>
              <p>
                Monetary systems are information systems. The most important component is the human brain and money is data - it must have physical and logical integrity. Join the inventor of the RAIDA ( Redundant Array of Independent Detection Agents ) - a replacement to the Blockchain - who will discuss the rise and fall of currencies including the destruction of the cryptocurrencies and the digital currencies that will replace them.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Jose Barrientos</h2>
              <em>SDR Experimenting With Breaking Into Cars</em>
              <p>
                Software Defined Radios are becoming increasingly more available and simpler to program, however much research into this field is lacking. Therefore a lot of our RF security protocols are wildly outdated. One example is that of our current Key Fob security system we have for most vehicles. I explored most of the security steps that were implemented in the last two decades, and creative ways to get around them.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Jason Ugie</h2>
              <em>Designing for the Human Experience</em>
              <p>
                The most compelling products solve problems and add value. The truth is products resonate with users not by the design but in the mind. The importance of design thinking is how user research informs development and design teams to become the voice of the user and create meaningful user experiences.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Trevor Hartman</h2>
              <em>Raspberry Pi - The Cheap Tool That Rules Them All</em>
              <p>
                A variety of techniques to use the RaspberryPi line of devices to attack the physical security of a business. The RaspberryPi is so cheap and versatile, it is the cheapest way to build a robust physical hacking arsenal.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Machinist</h2>
              <em>Working for Skynet: The Next 25 Years of Technological Change</em>
              <p>
                Reviewing the technological change of the past two generations of humans, it becomes clear that there's no sign of slowing down any time in the near future. Our eyes should be kept open to increasing automation (and decreasing employment), Moore's Law, Artificial Intelligence, and Singularity, as these topics have drastic human implications.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Thad Bogner</h2>
              <em>OT, The Real OG: Operational Technology Demystified</em>
              <p>
                IoT is all the rage nowadays, but the original IoT was Industrial Control Systems, or more generally know as Operational Technology. This talk will go over its history, how it works, how it can fail, and how you can help secure it.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Nicolas McBride</h2>
              <em>The Internet Battlefield: A Look at the Front Lines</em>
              <p>
                What a network security analyst is, tools used, attacks in the wild, and stories from the front lines of the internet battlefield. 
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Jeff Holden</h2>
              <em>Red Team Tools of the Trade</em>
              <p>
                Explore different tools that maybe employed during a Red Team engagement. These tools will include the WiFi Pinapple, Ducky, Lan Turtle, Bash Bunny,Tastic RFID Thief,an RFID writer, and Raspberry PI. 
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Scotty Franzyshen</h2>
              <em>WiFi Hacking with the ESP8266</em>
              <p>
                How a $3 WiFi microcontroller with extremely low power draw can be useful to the security community. Covering hardware and programming for multiple applications in denial of service, penetration, and reconnaissance.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Collin Dever</h2>
              <em>Take Control of Your IOT Data with MQTT</em>
              <p>
                MQTT is a light-weight messaging protocol which works over TCP/IP. It can be used to set up a spoke and wheel style architecture perfect for today many modern IOT device. Because of it’s ease of use anyone can set up a server to protect their data and because of its small footprint it is perfect for use in you IOT creations with arduino or raspberry pi.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Brian Moran & Roberta Payne</h2>
              <em>Digital Forensics & Incident Response Workshop</em>
              <p>
                Interested in the field of digital forensics? Learn how to analyze physical media, network captures, and memory dumps using open-source tools. Examine various forensics artifacts on different operating systems. See how incident response and malware analysis augment this field. Explore careers in the industry.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Will Caput & Jeff Woods</h2>
              <em>Phishing 101</em>
              <p>
                Walk through how phishing works, and how it applied to the last election. Preventative measures you can take to not be vulnerable. Live demonstration of phishing in action.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Edward Miro</h2>
              <em>Vehicle based surveillance technology 101</em>
              <p>
                Vehicle based surveillance is utilized in many cities throughout the world. Very little is known by the general public about how to identify when vehicle based surveillance is being used and their methods. This information needs to be accessible and understandable by the technical and non-technical alike. As the general public becomes more savvy of information security, surveillance strategies will increasingly transition back to analog methods.
              </p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2>Eric Michaud</h2>
              <em>Mapping the Invisible - A Journey Into Discovering Tor Hidden Services</em>
              <p>
                Scanning Tor darknets, speeding up tunnel generation and massively parallel port scanning.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
